*{
  margin: 0;
  padding: 0;
  border: 0;
}
body{
  background-color: #EDEDED;
  color: #696969;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  width: 1200px;
  margin: 0 auto;
}
h2{
  font-size: 350%;
  color: #444444;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
}
h3{
  color: #444444;
  font-family: "Open Sans", sans-serif;
}
p{
  font-family: "Open Sans", sans-serif;
  line-height: 200%;
}
header{
  height: 110px;
  padding: 80px 20px 6px 10px;
}
.main-logo{
  font-family: "Oleo Script", sans-serif;
  font-size: 280%;
  background-color: #FF4486;
  color: #EDEDED;
  padding: 0px 6px;
  letter-spacing: 3px;
  border-radius: 4px;
  margin-right: 20px;
}
.logo-desc{
  line-height: 65px;
  vertical-align: center;
  font-weight: 600;
  font-size: 15px;
}
header .logo li{
  text-decoration: none;
  display: inline-block;
  float: left;
}
header .nav li{
  text-decoration: none;
  display: inline-block;
  float: right;
  line-height: 40px;
  vertical-align: center;
  font-weight: 600;
  font-size: 15px;
  padding-right: 40px;
  padding-top: 11px;
  letter-spacing: 1px;
}

header .nav li{
  margin: auto 8px;
}

header a:hover{
  color: grey;
}
.active a{
  background-color: #444444;
  color: #FFFFFF;
  margin: 3px;
  padding: 6px 8px;
  border-radius: 6px;
}
header a{
  text-decoration: none;
  color: #444444;
}
.wrapper{
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow:  0px 3px 0px 0px rgba(0,0,0,0.05);
  margin-bottom: 50px;
  height: 200px;
  padding: 60px 60px 60px 80px;
}
.three-fourth{
  width: 60%;
 float: left;
}
.one-fourth{
  width: 40%;
  float: left;
  text-align: center;
}
.intro_desc{
  font-size: 240%;
  line-height: 60px;
}
.intro_button li{
  list-style-type: none;
}
.fa-play,.fa-info-circle{
  display: block;
  padding-left: 40px;
}
.intro_button a{
  line-height: 100px;
  text-decoration: none;
}
.ok,.more{

  font-weight: 600;
  font-size: 225%;
}
.ok a{
  padding: 10px 30px;
  background-color: #0090C5;
  color: white;
  border-radius: 7px;
}

.more a{
  padding: 10px 38px;
  background-color: #F1F1F1;
  color: #444444;
  border-radius: 7px;
}
